<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library System</title>
</head>
<body>
<h1>Add new author</h1>

<table>
    <tr>
        <form action="#" th:action="@{add}" method="post" th:object="${authors}">
            <p>Name:
                <label>
                    <input type="text" th:field="*{name}"/>
                </label>
            </p>
            <p>
                <input type="submit" value="Submit"/>
                <input type="reset" value="Reset"/>
            </p>
        </form>
    </tr>
</table>

<div class="col">
    <a class="btn btn-primary"
       th:href="@{'/'}" role="button">Back to menu</a>
</div>

</body>
</html>