<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library System</title>
</head>
<body>
<h1>Authors</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Books</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.name}">2</td>
        <td>
            <ul>
                <li th:each="book : ${author.books}" th:text="${book.title}">3</li>
            </ul>
        </td>
        <td>
            <div class="col">
                <a class="btn btn-primary" href="#"
                   th:href="@{'/author/' + ${author.id} + '/edit'}" role="button">Edit</a>
            </div>
        </td>
    </tr>
</table>

<div class="col">
    <a class="btn btn-primary" href="#"
       th:href="@{'/'}" role="button">Back to menu</a>
</div>

</body>
</html>