<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BestLib</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="images/logo.jpg"/>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
<div class="header">
    <img id="logo" src="images/logo.jpg" alt="logo">
    <h1 class="name">BestLib</h1>
    <a class="nav-button" id="find" th:href="@{'index'}">FIND A BOOK</a>
    <a class="nav-button" id="login" th:href="@{'index'}">LOGIN</a>
    <a class="nav-button" id="register" th:href="@{'index'}">REGISTER</a>
</div>

<div class="background">
    <div class="table">
        <h1>Search results</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Publisher</th>
                <th>Cover</th>
                <th>Year</th>
                <th>ISBN</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}">1</td>
                <td th:text="${book.title}">2</td>
                <td>
                    <ul style="list-style: none">
                        <li th:each="author : ${book.authors}"
                            th:text="${author.name}">3
                        </li>
                    </ul>
                </td>
                <td th:text="${book.genre.description}">4</td>
                <td th:text="${book.publisher.name}">5</td>
                <td th:text="${book.coverType}">6</td>
                <td th:text="${book.yearOfRelease}">7</td>
                <td th:text="${book.isbn}">8</td>
                <td th:text="${book.bookStatus}">9</td>
                <td>
                    <a class="action-button" th:href="@{'/book/' + ${book.id} + '/reserve'}">Reserve</a>
                </td>
<!--                <td>-->
<!--                    <a class="action-button" th:href="@{'/book/' + ${book.id} + '/edit'}">Edit</a>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <a class="action-button" th:href="@{'/book/' + ${book.id} + '/borrow'}">Borrow</a>-->
<!--                </td>-->
            </tr>
        </table>

<!--        <a class="action-button" th:href="@{'/'}">Back to menu</a>-->

    </div>
</div>

<div class="footer">

</div>
</body>
</html>