<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library System</title>
</head>
<body>
<h1>Books</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Publisher</th>
        <th>Cover</th>
        <th>Year of release</th>
        <th>ISBN</th>
        <th>Status</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">2</td>
        <td>
            <ul style="list-style: none">
                <li th:each="author : ${book.authors}"
                    th:text="${author.name}">3</li>
            </ul>
        </td>
        <td th:text="${book.genre.description}">4</td>
        <td th:text="${book.publisher.name}">5</td>
        <td th:text="${book.coverType}">6</td>
        <td th:text="${book.yearOfRelease}">7</td>
        <td th:text="${book.isbn}">8</td>
        <td th:text="${book.bookStatus}">9</td>
        <td>
            <div class="col">
                <a class="btn btn-primary" href="#"
                   th:href="@{'/book/' + ${book.id} + '/edit'}" role="button">Edit</a>
            </div>
        </td>
        <td>
            <div class="col">
                <a class="btn btn-primary" href="#"
                   th:href="@{'/book/' + ${book.id} + '/reserve'}" role="button">Reserve</a>
            </div>
        </td>
        <td>
            <div class="col">
                <a class="btn btn-primary" href="#"
                   th:href="@{'/book/' + ${book.id} + '/borrow'}" role="button">Borrow</a>
            </div>
        </td>
    </tr>
</table>

<div class="col">
    <a class="btn btn-primary" href="#"
       th:href="@{'/'}" role="button">Back to menu</a>
</div>

</body>
</html>