<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title>BestLib</title>
</head>
<body>
<nav th:replace="fragments/nav-bar :: nav">
</nav>

<main>
    <h1 th:text="#{book.reservations.header}">Reservations</h1>
    <table>
        <tr>
            <th th:text="#{book.bookId}">Book ID</th>
            <th th:text="#{book.bookTitle}">Book title</th>
            <th th:text="#{book.userId}">User ID</th>
            <th th:text="#{book.userName}">User name</th>
            <th th:text="#{book.userIdNumber}">User ID number</th>
            <th th:text="#{book.date}">Date</th>
            <th th:text="#{book.deadline}">Deadline</th>
            <th th:text="#{book.action}">Action</th>
        </tr>
        <tr th:if="${books.size() > 0}" th:each="book : ${books}">
            <td th:text="${book.id}">book id</td>
            <td th:text="${book.title}">book title</td>
            <td th:text="${book.user.id}">user id</td>
            <td th:text="${book.user.toString()}">user name</td>
            <td th:text="${book.user.idNumber}">user idNumber</td>
            <td th:text="${book.dateToString()}">date</td>
            <td th:text="${book.deadlineToString()}">deadline</td>
            <td>
                <a class="action-button" th:href="@{'/book/' + ${book.id} + '/accept-reservation'}"
                th:text="#{acceptBorrowing}">Accept borrowing</a>
            </td>
        </tr>
        <tr th:unless="${books.size() > 0}">
            <td colspan="8" th:text="#{book.noBooks}">No books found!</td>
        </tr>
    </table>
</main>

<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>