<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library System</title>
</head>
<body>
<h1>Authors List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.getId()}">1</td>
        <td th:text="${author.getFirstName() + ' ' + author.getLastName()}">2</td>
    </tr>
</table>

<div class="col">
    <a class="btn btn-primary" href="#"
       th:href="@{'/'}" role="button">Back to menu</a>
</div>

</body>
</html>