* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: dimgrey;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}
.header {
    background: chocolate;
    height: 120px;
    border-bottom: 20px solid #ff6e00;
    display: inline-flex;
    width: 100%;
    align-items: center;
}
#logo {
    height: 100px;
}
.name {
    margin-left: 40px;
    display: inline;
    background: chocolate;
    color: navajowhite;
    font-size: 40px;
}
.nav-button {
    background: #ff9637;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}
#login {
    margin-left: auto;
    margin-right: 30px;

}
#register {
    margin-right: 50px;
}
#find {
    margin-left: 100px;
}
.footer {
    position: absolute;
    background: chocolate;
    height: 30px;
    border-top: 5px solid #ff6e00;
    width: 100%;
    bottom: 0;
}