* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("images/background.jpeg");
    background-size: cover;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}
.header {
    background: chocolate;
    height: 120px;
    border-bottom: 20px solid #ff6e00;
    display: inline-flex;
    width: 100%;
    align-items: center;
    position: fixed;
}
#logo {
    height: 100px;
    border-radius: 0 30px 30px 0;
}
.name {
    margin-left: 40px;
    display: inline;
    background: chocolate;
    color: navajowhite;
    font-size: 40px;
}
.nav-button {
    background: #ff9637;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}
#login {
    margin-left: auto;
    margin-right: 30px;
}
#register {
    margin-right: 50px;
}
#find {
    margin-left: 100px;
}
.footer {
    background: chocolate;
    height: 30px;
    border-top: 5px solid #ff6e00;
    width: 100%;
    bottom: 0;
    position: fixed;
}
.background {
    padding-top: 120px;
    padding-bottom: 30px;
}
.main-form {
    background: navajowhite;
    text-align: center;
    margin: 100px auto;
    width: 30%;
    border: 5px solid black;
    padding-bottom: 40px;
}
.main-form h1 {
    background: navajowhite;
    padding: 40px;
    font-size: 50px;
}
form {
    background: navajowhite;
}
label {
    display: inline-block;
    text-align: left;
    color: black;
    width: 100px;
    background: navajowhite;
    margin-bottom: 20px;

}
input {
    background: white;
    display: inline-block;
    width: 350px;
    height: 30px;
}
button {
    margin: 20px 10px 0 10px;
    background: white;
    width: 70px;
    height: 30px;
}
button:hover {
    cursor: pointer;
}


.table {
    background: navajowhite;
    text-align: center;
    margin: 100px auto;
    width: 60%;
    border: 5px solid black;
    padding-bottom: 40px;
}
.table h1 {
    background: navajowhite;
    padding: 40px;
    font-size: 50px;
}