* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: black;
}

body {
    background-image: url("images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.nav-bar {
    background: chocolate;
    height: 120px;
    border-bottom: 20px solid #ff6e00;
    display: inline-flex;
    width: 100%;
    align-items: center;
    position: fixed;
}

#logo {
    height: 100px;
    border-radius: 0 30px 30px 0;
    pointer-events: none;
}

.name {
    padding: 0 30px;
    display: inline;
    color: navajowhite;
    font-size: 60px;
    font-family: 'Big Shoulders Stencil Text', cursive;
    border-right: 3px solid #ff6e00;
    border-radius: 10px;
    user-select: none;
}

.nav-button {
    background: #ff9637;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    border: 1px solid saddlebrown;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

#login {
    margin-left: auto;
    margin-right: 20px;
}

#register {
    margin-right: 40px;
}

#find {
    margin-left: 80px;
    margin-right: 80px;
    min-width: 170px;
    width: 170px;
}

.footer {
    background: chocolate;
    height: 30px;
    border-top: 5px solid #ff6e00;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.background {
    padding-top: 120px;
    padding-bottom: 30px;
}

.main-form {
    background: navajowhite;
    text-align: center;
    margin: 140px auto 70px auto;
    width: 600px;
    border: 3px solid saddlebrown;
    border-radius: 20px;
    padding: 40px;
}

h1 {
    padding-bottom: 40px;
    font-size: 40px;
}

label {
    display: inline-block;
    text-align: left;
    width: 100px;
    margin-bottom: 20px;
    font-weight: bold;
}

input, select {
    display: inline-block;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    padding: 0 5px;
}

select {
    padding: 0;
}

button {
    margin: 20px 10px 0 10px;
    width: 70px;
    height: 30px;
}

button:hover {
    cursor: pointer;
}

table {
    background: black;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    border: 1px solid black;
}

table th:first-child {
    border-top-left-radius: 17px;
}

table th:last-child {
    border-top-right-radius: 17px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 17px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 17px;
}

table tr:last-child th:first-child {
    border-bottom-left-radius: 17px;
}

table tr:last-child th:last-child {
    border-bottom-right-radius: 17px;
}

th {
    background: chocolate;
    padding: 18px 14px;
}

td {
    background: lightgrey;
    padding: 18px 14px;
    font-size: 14px;
}

.table {
    background: navajowhite;
    text-align: center;
    margin: 60px auto 60px auto;
    width: 1280px;
    border: 3px solid saddlebrown;
    border-radius: 20px;
    padding: 40px;
}

.action-button {
    background: #ff9637;
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
    border: 1px solid saddlebrown;
    border-radius: 5px;
    font-weight: bold;
}

#submit, #reset {
    margin: 40px 30px 10px 30px;
}

.fill-form {
    background: navajowhite;
    text-align: center;
    margin: 60px auto 30px auto;
    width: 700px;
    border: 3px solid saddlebrown;
    border-radius: 20px;
    padding: 40px;
}

.fill-form label {
    display: inline-block;
    text-align: left;
    width: 130px;
    font-weight: bold;
}