<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title>BestLib</title>
</head>
<body>
<nav th:replace="fragments/nav-bar :: nav"></nav>

<main>
    <header th:text="#{publisher.add.header}">Add new publisher</header>
    <form th:action="@{add}" th:object="${publishers}" method="post">
        <div class="label-input">
            <label for="name" th:text="#{publisher.form.name}">Name:</label>
            <input type="text" th:class="${#fields.hasErrors('name')} ? 'input-error' : 'input'" id="name"
                   th:field="*{name}">
        </div>
        <div th:if="${#fields.hasErrors('name')}" class="alert">
            <ul>
                <li th:each="error : ${#fields.errors('name')}" th:text="${error}"></li>
            </ul>
        </div>

        <button type="submit" class="main__form--submit-button action-button" th:text="#{submit}">Submit</button>
    </form>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>