<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head">
    <title>BestLib</title>
</head>
<body>
<div th:replace="fragments/nav-bar :: div">
</div>

<div class="body-content">
    <div class="function-buttons">
        <a class="action-button" sec:authorize="${hasAnyAuthority('LIBRARIAN', 'ADMIN')}"
           th:href="@{'/publisher/add'}" th:text="#{publisher.list.add}">+ Add publisher</a>
    </div>
    <h1 th:text="#{publisher.list.header}">Publishers</h1>
    <table>
        <tr>
            <th th:text="#{publisher.id}">ID</th>
            <th th:text="#{publisher.name}">Name</th>
            <th th:text="#{publisher.action}">Action</th>
        </tr>
        <tr th:if="${publishers.size() > 0}" th:each="publisher : ${publishers}">
            <td th:text="${publisher.id}">id</td>
            <td th:text="${publisher.name}">name</td>
            <td>
                <a class="action-button" sec:authorize="${hasAnyAuthority('LIBRARIAN', 'ADMIN')}"
                   th:href="@{'/publisher/' + ${publisher.id} + '/edit'}" th:text="#{edit}">Edit</a>
                <a class="action-button" sec:authorize="${hasAnyAuthority('LIBRARIAN', 'ADMIN')}"
                   th:href="@{'/publisher/' + ${publisher.id} + '/show-books'}" th:text="#{showBooks}">Show books</a>
            </td>
        </tr>
        <tr th:unless="${publishers.size() > 0}">
            <td colspan="3" th:text="#{publisher.list.noPublishers}">No publishers found!</td>
        </tr>
    </table>
</div>

<div th:replace="fragments/footer :: div">
</div>
</body>
</html>