<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library System</title>
</head>
<body>
<h1>Publishers</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Books</th>
    </tr>
    <tr th:each="publisher : ${publishers}">
        <td th:text="${publisher.id}">1</td>
        <td th:text="${publisher.name}">2</td>
        <td>
            <ul style="list-style: none">
                <li th:each="book : ${publisher.books}"
                    th:text="${book.title}">3</li>
            </ul>
        </td>
    </tr>
</table>

<div class="col">
    <a class="btn btn-primary" href="#"
       th:href="@{'/'}" role="button">Back to menu</a>
</div>

</body>
</html>