<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head">
    <title>BestLib</title>
</head>
<body>
<nav th:replace="fragments/nav-bar :: nav">
</nav>

<main>
    <h1 th:text="#{user.account.header}">Your account info</h1>
    <table>
        <tr>
            <th th:text="#{user.name}">Name</th>
            <th th:text="#{user.idNumber}">ID number</th>
            <th th:text="#{user.country}">Country</th>
            <th th:text="#{user.state}">State</th>
            <th th:text="#{user.city}">City</th>
            <th th:text="#{user.street}">Street</th>
            <th th:text="#{user.homeNo}">Home no.</th>
            <th th:text="#{user.action}">Action</th>
        </tr>
        <tr>
            <td th:text="${user.toString()}">name</td>
            <td th:text="${user.idNumber}">idNumber</td>
            <td th:text="${user.country}">country</td>
            <td th:text="${user.state}">state</td>
            <td th:text="${user.city}">city</td>
            <td th:text="${user.street}">street</td>
            <td th:text="${user.homeNumber}">homeNumber</td>
            <td>
                <a class="action-button" th:href="@{'/user/edit'}" th:text="#{editInfo}">Edit info</a>
            </td>
        </tr>
    </table>
    <div sec:authorize="${hasAnyAuthority('USER', 'ADMIN')}">
        <div class="line"></div>
        <h1 th:text="#{user.account.header2}">Your books</h1>
        <table>
            <tr>
                <th th:text="#{user.bookId}">Book ID</th>
                <th th:text="#{user.bookTitle}">Book title</th>
                <th th:text="#{user.bookStatus}">Book status</th>
                <th th:text="#{user.date}">Date</th>
                <th th:text="#{user.deadline}">Deadline</th>
                <th th:text="#{user.action}">Action</th>
            </tr>
            <tr th:if="${user.books.size() > 0}" th:each="book : ${user.books}">
                <td th:text="${book.id}">book ID</td>
                <td th:text="${book.title}">book title</td>
                <td th:text="${book.bookStatus.getDisplayName()}">book status</td>
                <td th:text="${book.dateToString()}">date</td>
                <td th:text="${book.deadlineToString()}">deadline</td>
                <td>
                    <a class="action-button" sec:authorize="${hasAnyAuthority('USER', 'ADMIN')}"
                       th:if="${(book.bookStatus == T(com.kamilpomietlo.libraryapp.model.BookStatus).BORROWED)
                       && (book.numberOfProlongs < 2)}" th:href="@{'/book/' + ${book.id} + '/prolong'}"
                       th:text="#{prolong}">Prolong</a>
                    <a class="action-button action-button-disabled" sec:authorize="${hasAnyAuthority('USER', 'ADMIN')}"
                       th:unless="${(book.bookStatus == T(com.kamilpomietlo.libraryapp.model.BookStatus).BORROWED)
                       && (book.numberOfProlongs < 2)}" th:text="#{prolong}">Prolong</a>
                </td>
            </tr>
            <tr th:unless="${user.books.size() > 0}">
                <td colspan="6" th:text="#{user.noBooks}">No reserved or borrowed books found!</td>
            </tr>
        </table>
    </div>
</main>

<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>