<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title>BestLib</title>
</head>
<body>
<div th:replace="fragments/nav-bar :: div">
</div>

<div class="background">
    <div class="fill-form">
        <h1>Edit your info</h1>
        <form th:action="@{edit}" method="post" th:object="${users}">
            <label for="first-name">First name:</label>
            <input type="text" id="first-name" th:field="*{firstName}">

            <label for="last-name">Last name:</label>
            <input type="text" id="last-name" th:field="*{lastName}">

            <label for="id-number">ID number:</label>
            <input type="text" id="id-number" th:field="*{idNumber}">

            <label for="country">Country:</label>
            <input type="text" id="country" th:field="*{country}">

            <label for="state">State:</label>
            <input type="text" id="state" th:field="*{state}">

            <label for="city">City:</label>
            <input type="text" id="city" th:field="*{city}">

            <label for="street">Street:</label>
            <input type="text" id="street" th:field="*{street}">

            <label for="home-number">Home number:</label>
            <input type="text" id="home-number" th:field="*{homeNumber}">

            <button type="submit" id="submit" class="action-button">Submit</button>
            <button type="reset" id="reset" class="action-button">Reset</button>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: div">
</div>
</body>
</html>