<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title>BestLib</title>
</head>
<body>
<nav th:replace="fragments/nav-bar :: nav">
</nav>

<main>
    <h1 th:text="#{register-info.header}">Thank you for registering!</h1>
    <p class="register-info" th:text="#{register-info.text}">Click on the link sent to your e-mail address to activate your account.</p>
</main>

<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>