<div class="nav-bar" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <h1>
        <a class="name" th:href="@{'/'}">BestLib</a>
    </h1>
    <div class="nav-bar-function-buttons">
        <a sec:authorize="${hasAnyAuthority('LIBRARIAN', 'ADMIN')}" class="nav-button" id="reservations" th:href="@{'/book/reservations'}">Reservations</a>
    </div>
    <div class="nav-bar-main-buttons">
        <a sec:authorize="${isAnonymous()}" class="nav-button" id="register" th:href="@{'/register'}">Register</a>
        <a sec:authorize="${isAnonymous()}" class="nav-button" th:href="@{'/login'}">Log in</a>

        <a sec:authorize="${isAuthenticated()}" class="nav-button" id="account" th:href="@{'/user/account'}">My account</a>
        <a sec:authorize="${isAuthenticated()}" class="nav-button" th:href="@{'/logout'}">Log out</a>
    </div>
</div>