<nav xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a class="nav__logo" th:href="@{'/'}">BestLib</a>
    <div class="nav__menu-buttons">
        <a sec:authorize="${hasAnyAuthority('LIBRARIAN', 'ADMIN')}" class="nav__menu-buttons--button"
           th:href="@{'/book/reservations'}" th:text="#{nav-bar.reservations}">Reservations</a>
        <a sec:authorize="${hasAnyAuthority('LIBRARIAN', 'ADMIN')}" class="nav__menu-buttons--button"
           th:href="@{'/book/borrowed'}" th:text="#{nav-bar.borrowedBooks}">Borrowed books</a>
        <a sec:authorize="${hasAnyAuthority('LIBRARIAN', 'ADMIN')}" class="nav__menu-buttons--button"
           th:href="@{'/book/list'}" th:text="#{nav-bar.books}">Books</a>
        <a sec:authorize="${hasAnyAuthority('LIBRARIAN', 'ADMIN')}" class="nav__menu-buttons--button"
           th:href="@{'/author/list'}" th:text="#{nav-bar.authors}">Authors</a>
        <a sec:authorize="${hasAnyAuthority('LIBRARIAN', 'ADMIN')}" class="nav__menu-buttons--button"
           th:href="@{'/publisher/list'}" th:text="#{nav-bar.publishers}">Publishers</a>
        <a sec:authorize="${hasAuthority('ADMIN')}" class="nav__menu-buttons--button"
           th:href="@{'/user/list'}" th:text="#{nav-bar.users}">Users</a>
    </div>
    <div class="nav__security-buttons">
        <a sec:authorize="${isAnonymous()}" class="nav__security-buttons--button" th:href="@{'/user/register'}"
        th:text="#{nav-bar.register}">Register</a>
        <a sec:authorize="${isAnonymous()}" class="nav__security-buttons--button" th:href="@{'/login'}"
        th:text="#{nav-bar.login}">Log in</a>
        <a sec:authorize="${isAuthenticated()}" class="nav__security-buttons--button" th:href="@{'/user/account'}"
        th:text="#{nav-bar.myAccount}">My account</a>
        <a sec:authorize="${isAuthenticated()}" class="nav__security-buttons--button" th:href="@{'/logout'}"
        th:text="#{nav-bar.logout}">Log out</a>
    </div>
    <div class="nav__language">
        <a th:href="@{''(lang=en)}">
            <img src="/images/flag-gb.png" alt="English flag" class="nav__language--flag">
        </a>
        <div class="nav__language--line"></div>
        <a th:href="@{''(lang=pl)}">
            <img src="/images/flag-pl.png" alt="Polish flag" class="nav__language--flag">
        </a>
    </div>
</nav>