* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: black;
}

html {
    overflow-y: scroll;
}

:root {
    --primaryColor: chocolate;
    --secondaryColor: navajowhite;
    --detailsColor: saddlebrown;
}

::-webkit-scrollbar {
    background: var(--primaryColor);
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px var(--detailsColor);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--detailsColor);
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: var(--primaryColor);
}

body {
    background-image: url("../images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.nav-bar {
    background: var(--primaryColor);
    height: 100px;
    border-bottom: 15px solid #ff6e00;
    display: inline-flex;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
}

.name {
    padding: 0 30px;
    margin: 20px 0;
    display: inline-block;
    color: var(--secondaryColor);
    font-size: 65px;
    font-family: 'Big Shoulders Stencil Text', cursive;
    border-right: 4px solid #ff6e00;
    border-radius: 10px;
    user-select: none;
    text-decoration: none;
}

.body-content {
    background: var(--secondaryColor);
    text-align: center;
    margin: 140px auto 60px auto;
    width: fit-content;
    max-width: 98%;
    border: 3px solid var(--detailsColor);
    border-radius: 20px;
    padding: 0 40px 40px 40px;
}

button {
    margin: 30px 10px 0 10px;
    width: 70px;
    height: 30px;
}

button:hover {
    cursor: pointer;
}

.nav-button {
    background: #ff9637;
    text-decoration: none;
    font-size: 18px;
    padding: 14px;
    border: 1px solid var(--detailsColor);
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

.action-button {
    background: #ff9637;
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
    border: 1px solid var(--detailsColor);
    border-radius: 5px;
    font-weight: bold;
}

.action-button-disabled {
    background: darkgrey;
    border: 1px solid grey;
    color: dimgrey;
    cursor: not-allowed;
    user-select: none;
}

.main-buttons {
    margin-left: auto;
    margin-right: 20px;
    position: absolute;
    right: 52px;
}

#register, #account {
    margin-right: 10px;
}

.menu-buttons {
    margin-right: auto;
    margin-left: 50px;
}

.menu-button {
    margin-left: 10px;
}

.function-buttons {
    float: right;
    margin-top: 15px;
    margin-right: -30px;
}

.footer {
    background: var(--primaryColor);
    height: 20px;
    border-top: 4px solid #ff6e00;
    width: 100%;
    bottom: 0;
    position: fixed;
}

table {
    background: black;
    margin: 20px auto 10px auto;
    border-radius: 20px;
    border: 1px solid black;
}

table th:first-child {
    border-top-left-radius: 17px;
}

table th:last-child {
    border-top-right-radius: 17px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 17px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 17px;
}

table tr:last-child th:first-child {
    border-bottom-left-radius: 17px;
}

table tr:last-child th:last-child {
    border-bottom-right-radius: 17px;
}

th {
    background: var(--primaryColor);
    padding: 16px 10px;
}

td {
    background: lightgrey;
    padding: 16px 10px;
    font-size: 14px;
}

ul {
    list-style-type: none;
    display: inline-block;
}

.body-content h1 {
    margin-top: 40px;
}

.label-input {
    display: block;
}

label {
    display: inline-block;
    text-align: left;
    width: 150px;
    font-weight: bold;
}

input, select {
    display: inline-block;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    padding: 0 5px;
    margin-top: 20px;
}

.select-language {
    width: auto;
    height: auto;
    font-size: 12px;
    background: brown;
}

.option-language {
    background: brown;
}

.input-error {
    display: inline-block;
    width: 350px;
    height: 30px;
    border: 1px solid red;
    padding: 0 5px;
}

.alert li {
    display: block;
    color: red;
    font-size: 12px;
    width: 500px;
    text-align: right;
}

.alert-security {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}

.read-only {
    background: lightgrey;
    color: grey;
    cursor: not-allowed;
}

.line {
    display: inline-block;
    width: 100%;
    height: 2px;
    margin: 30px 0 0 0;
    background: var(--detailsColor);
}

.language-line {
    position: relative;
    top: -5px;
    display: inline-block;
    width: 60%;
    height: 2px;
    background: var(--detailsColor);
}

.language-flag {
    width: 25px;
    height: 25px;
}

#lang-gb {
    margin-bottom: -5px;
}

#lang-pl {
    margin-top: -3px;
}

.language-choose {
    position: absolute;
    right: 8px;
    text-align: center;
}

.register-info {
    margin-top: 25px;
}

.book-available {
    color: green;
    font-weight: bold;
}

.book-reserved {
    color: darkgoldenrod;
    font-weight: bold;
}

.book-borrowed {
    color: red;
    font-weight: bold;
}