* {
    box-sizing: border-box;
    color: black;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

:root {
    --detailsColor: saddlebrown;
    --primaryColor: chocolate;
    --secondaryColor: navajowhite;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

body {
    background: url("../images/background.jpeg") no-repeat fixed top;
    background-size: cover;
}

::-webkit-scrollbar {
    background: var(--primaryColor);
    width: 15px;
}

::-webkit-scrollbar-corner {
    background: var(--primaryColor);
}

::-webkit-scrollbar-thumb {
    background: var(--detailsColor);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 10px var(--detailsColor);
}

nav {
    align-items: center;
    background: var(--primaryColor);
    border-bottom: 10px solid #ff6e00;
    display: flex;
    height: 90px;
    min-width: fit-content;
    position: fixed;
    width: 100%;
}

.nav__logo {
    border-radius: 10px;
    border-right: 4px solid #ff6e00;
    color: white;
    display: flex;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 65px;
    margin: 0 20px;
    opacity: 80%;
    padding: 0 20px 0 0;
    text-decoration: none;
    user-select: none;
}

.nav__menu-buttons {
    display: flex;
    margin-left: 20px;
    margin-right: 40px;
    white-space: nowrap;
}

.nav__security-buttons {
    display: flex;
    margin-left: auto;
    margin-right: 5px;
    white-space: nowrap;
}

.nav__menu-buttons--button, .nav__security-buttons--button {
    background: #ff9637;
    border: 1px solid var(--detailsColor);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
}

.nav__language {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
}

.nav__language--flag, .nav__language a {
    height: 25px;
    width: 25px;
}

.nav__language--line {
    background: var(--detailsColor);
    height: 2px;
    margin: 5px 0;
    width: 100%;
}

main {
    align-items: center;
    background: var(--secondaryColor);
    border: 3px solid var(--detailsColor);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 120px auto 50px auto;
    max-width: 98%;
    min-width: fit-content;
    padding: 30px;
    width: fit-content;
}

.main__function-buttons {
    display: flex;
    margin-top: -20px;
    padding: 0 -20px 0 -20px;
    width: 100%;
}

.main__function-buttons--operations {
    display: flex;
    margin-left: auto;
}

.function-buttons__operations--operation {
    margin-left: 5px;
}

header {
    align-self: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    width: fit-content;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.label-input {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 20px auto 0 auto;
    width: 100%;
}

label {
    font-weight: bold;
    line-height: 100%;
    text-align: left;
    width: 150px;
}

input, select {
    background: white;
    border: 1px solid black;
    border-radius: 8px;
    height: 30px;
    padding: 0 5px;
    width: 350px;
}

input:focus, select:focus {
    border: 2px solid black;
    outline: none;
}

.input-error {
    border-color: red;
}

.alert {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.alert li {
    color: red;
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
}

.alert-security {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
}

.read-only {
    background: lightgrey;
    color: grey;
    cursor: not-allowed;
}

.read-only:focus {
    border: 1px solid black;
}

.line {
    background: var(--detailsColor);
    height: 2px;
    margin: 30px 0 10px 0;
    width: 100%;
}

.register-info {
    margin-top: 25px;
}

.main__form--submit-button {
    height: 30px;
    margin: 30px 10px 0 10px;
    width: 70px;
}

.main__form--submit-button:hover {
    cursor: pointer;
}

.main__table {
    background: black;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px auto 0 auto;
    text-align: center;
}

.main__table th:first-child {
    border-top-left-radius: 17px;
}

.main__table th:last-child {
    border-top-right-radius: 17px;
}

.main__table tr:last-child th:first-child {
    border-bottom-left-radius: 17px;
}

.main__table tr:last-child th:last-child {
    border-bottom-right-radius: 17px;
}

.main__table tr:last-child td:first-child {
    border-bottom-left-radius: 17px;
}

.main__table tr:last-child td:last-child {
    border-bottom-right-radius: 17px;
}

.main__table--user-books {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

th {
    background: var(--primaryColor);
    border-bottom: 1px solid black;
    padding: 16px 10px;
}

td {
    background: lightgrey;
    font-size: 14px;
    padding: 8px 8px;
}

ul {
    line-height: 130%;
    list-style-type: none;
}

.book-available {
    color: green;
    font-weight: bold;
}

.book-reserved {
    color: darkgoldenrod;
    font-weight: bold;
}

.book-borrowed {
    color: red;
    font-weight: bold;
}

.action-button {
    background: #ff9637;
    border: 1px solid var(--detailsColor);
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    white-space: nowrap;
}

td .action-button {
    line-height: 230%;
}

.action-button-disabled {
    background: darkgrey;
    border-color: grey;
    color: dimgrey;
    cursor: not-allowed;
    user-select: none;
}

footer {
    background: var(--primaryColor);
    border-top: 4px solid #ff6e00;
    bottom: 0;
    height: 20px;
    position: fixed;
    width: 100%;
}