<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BestLib</title>

    <link rel="stylesheet" href="styles.css">

</head>
<body>
<div class="header">
    <img id="logo" src="images/logo.png" alt="logo">
    <h1 class="name">BestLib</h1>
    <a class="nav-button" id="find" th:href="@{'book/find'}">FIND A BOOK</a>
    <a class="nav-button" id="login" th:href="@{'book/find'}">LOGIN</a>
    <a class="nav-button" id="register" th:href="@{'book/find'}">REGISTER</a>
</div>
<div>

</div>
<div class="footer">

</div>

<!--<div class="container-fluid" style="margin-top: 40px">-->
<!--    <div class="row">-->
<!--        <div class="col-md-2 offset-md-0">-->
<!--            <div class="card">-->
<!--                <div class="card-header bg-primary text-light">-->
<!--                    <h5 class="card-title offset-md-3">Library system</h5>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <div class="table-responsive">-->
<!--                        <table class="table table-hover">-->
<!--                            <thead class="thead-inverse">-->
<!--                            <div class="col">-->
<!--                                <a class="btn btn-primary" href="#"-->
<!--                                   th:href="@{'book/list'}" role="button">Get books list</a>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <a class="btn btn-primary" href="#"-->
<!--                                   th:href="@{'author/list'}" role="button">Get authors list</a>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <a class="btn btn-primary" href="#"-->
<!--                                   th:href="@{'publisher/list'}" role="button">Get publishers list</a>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <a class="btn btn-primary" href="#"-->
<!--                                   th:href="@{'user/list'}" role="button">Get users list</a>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <a class="btn btn-primary" href="#"-->
<!--                                   th:href="@{'book/find'}" role="button">Find a book</a>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <a class="btn btn-primary" href="#"-->
<!--                                   th:href="@{'author/find'}" role="button">Find an author</a>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <a class="btn btn-primary" href="#"-->
<!--                                   th:href="@{'publisher/find'}" role="button">Find a publisher</a>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <a class="btn btn-primary" href="#"-->
<!--                                   th:href="@{'user/find'}" role="button">Find a user</a>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <a class="btn btn-primary" href="#"-->
<!--                                   th:href="@{'book/delete'}" role="button">Delete a book</a>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <a class="btn btn-primary" href="#"-->
<!--                                   th:href="@{'user/delete'}" role="button">Delete a user</a>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <a class="btn btn-primary" href="#"-->
<!--                                   th:href="@{'book/add'}" role="button">Add new book</a>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <a class="btn btn-primary" href="#"-->
<!--                                   th:href="@{'author/add'}" role="button">Add new author</a>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <a class="btn btn-primary" href="#"-->
<!--                                   th:href="@{'publisher/add'}" role="button">Add new publisher</a>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <a class="btn btn-primary" href="#"-->
<!--                                   th:href="@{'user/add'}" role="button">Add new user</a>-->
<!--                            </div>-->

<!--                            &lt;!&ndash;                            <a class="btn" href="/authors/list">One</a>&ndash;&gt;-->

<!--                            &lt;!&ndash;                            <tr th:each="x : ${y}">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <td th:text="${x.id}">334</td>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <td th:text="${x.description}">asd</td>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <td><a href="#" th:href="@{'/x/z/' + ${x.id}}">xyz</a></td>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </tr>&ndash;&gt;-->


<!--                            &lt;!&ndash;                            <ul th:remove="all-but-first">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <li th:each="y : ${x.y}" th:text="${x.z}">something 1</li>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <li>something 2</li>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <li>something 3</li>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </ul>&ndash;&gt;-->

<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<script src="webjars/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script src="webjars/popper.js/2.0.2/umd/popper.min.js"></script>-->
<!--<script src="webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->

</body>
</html>