<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title>BestLib</title>
</head>
<body>
<nav th:replace="fragments/nav-bar :: nav">
</nav>

<main>
    <h1 th:text="#{login.header}">Log in</h1>
    <form th:action="@{login}" method="post">
        <div class="label-input">
            <label for="email" th:text="#{login.email}">E-mail:</label>
            <input type="email" id="email" name="email">
        </div>
        <div class="label-input">
            <label for="password" th:text="#{login.password}">Password:</label>
            <input type="password" id="password" name="password">
        </div>

        <p class="alert-security" th:if="${param.error}" th:text="#{login.invalid}">Invalid e-mail and/or password!</p>

        <button type="submit" class="action-button" th:text="#{submit}">Submit</button>
    </form>
</main>

<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>